@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/mona-sans');
@import url('https://fonts.cdnfonts.com/css/hubot-sans');

@font-face {
  font-family: "Mona Sans";
  src: url("../public/fonts/Mona-Sans.woff2") format("woff2 supports variations"), url("../public/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
@font-face {
  font-family: 'Hubot Sans';
  src:
    url('../public/fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('../public/fonts/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FFF8EE;
}
.navbar{
  background-color: #fcead1;
}
.monaSans{
  font-family: "Mona Sans";
}
.hubotSans{
  font-family: "Hubot Sans";
}
.EsiTitle{
  background-color: #8a220240;
}
.topDownAnimation{
    animation: float 2s ease-in-out infinite both;
}
@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-1rem);
  }
  100% {
      transform: translateY(0);
  }

}
.firstColor{
  background-color: #FFF8EE;
}
.extraShadow{
  box-shadow: 6px 15px 24px -3px rgba(0,0,0,0.58);
  -webkit-box-shadow: 6px 15px 24px -3px rgba(0,0,0,0.58);
  -moz-box-shadow: 6px 15px 24px -3px rgba(0,0,0,0.58);
}
.mediumShadow{
  box-shadow: 6px 8px 15px 0px rgba(0,0,0,0.43);
-webkit-box-shadow: 6px 8px 15px 0px rgba(0,0,0,0.43);
-moz-box-shadow: 6px 8px 15px 0px rgba(0,0,0,0.43);
}
